@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.underline{
    width: 100%;
    height: 26px;
    border-bottom: 1px solid;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: #333333;
}
li{
    list-style: none;
}
h3{
    text-align: center;
}
html, body{
    background-color: #ffffff;
    color: #333333;
    width: 100%;
    height: 100%;
}
body{
    position: relative;
}
#wrap{
    width: 1200px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: lightcoral;
}
header > div.logo{
    width: 10%;
    border-right: 1px dotted;
}
header > div.logo > img{
    width: 100%;
}
header > div#nav-wrap{
    width: 90%;
}
nav{
    float: right;
    display: flex;
}
nav > ul.main{
    width: 150px;
    padding: 10px 0;
    height: auto;
    position: relative;
    border: 1px solid;
    background-color: white;
}
nav > ul.main > li.sub{
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    position: absolute;
    border: 1px solid;
    padding-bottom: 20px;
    transform: translate( -2px, 10px);
    background-color: white;
    z-index: 5;
}
nav > ul.main > li.sub li{
    width: 150px;
    text-align: center;
    padding: 10px 0;
}
nav > ul.main > li.sub li:hover{
    background-color: #333333;
}
nav > ul.main > li.sub li:hover *{
    color: #ffffff;
}
nav > ul.main > li.sub h4{}


main{
    width: 100%;
    height: 500px;
}
main > #slide{
    height: 300px;
    overflow: hidden;
}
main > #slide img{
    width: 100%;
}
main > #slide img:nth-child(1){
    border: 5px solid red;
}
main > #slide img:nth-child(2){
    border: 5px solid blue;
}
main > #slide img:nth-child(3){
    border: 5px solid green;
}

main > #cont {
    height: 200px;
    display: flex;
}
main > #cont > div {
    width: 33.333333%;
    height: 100%;
}
#cont1{
    padding: 3px;
    height: 100%;
}
#cont1 > div#title{
    padding-left: 10px;
    display: flex;
    position: relative;
    z-index: 1;
}
#cont1 > div#title > div {
    padding: 10px;
    border: 1px solid;
    border-bottom: 1px transparent;
}
#cont1 > div#title > .notice{
    background-color: white;
}
#cont1 > div#title + div > .notice > p:nth-child(1){
    cursor: pointer;
}
#cont1 > div#title > .gallery{
    background-color: #a0a0a0;
}

#cont1 > div:nth-of-type(2) > div{
    border: 1px solid;
    padding: 10px;
    padding-bottom: 30px;
    height: 150px;
}
#cont1 > div:nth-of-type(2) > .notice{}
#cont1 > div:nth-of-type(2) > .gallery{
    display: flex;
    justify-content: space-around;
    display: none;
    padding-bottom: 10px;
}
#cont1 > div:nth-of-type(2) > .gallery > img{
    width: 33%;
}

#cont2{
    height: 100%;
}
#cont2 > img{
    width: 100%; 
    height: 100%;
}

#cont3{
    height: 100%;
}
#cont3 > img{
    width: 100%; 
    height: 100%;
}

footer{
    width : 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
footer > .logo{
    width: 10%;
}
footer > .logo > img{
    width: 100%;
    height: 100%;
}
footer > div:nth-of-type(2){
    width: 90%;
    height: 100%;
}
footer > div:nth-of-type(2) > div{
    height: 50%;
    text-align: center;
    padding: 12px 0;
}



/* 모달창 */
#popup{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 99;
}
#popup > div{
    width: 500px;
    background-color: white;
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#popup > div > h3{
    padding: 10px;
}
#popup > div > div{
    padding: 10px;
    
    clear: both;
    display: table;
    width: 100%;
}
#popup > div > div > #close-pop{
    float: right;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid;
}
