@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333333;
}
h3, h4{
    display: inline-block;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.underline{
    width: 100%;
    height: 24px;
    border-bottom: 1px solid black;
}
.logo{
    width: 200px;
    height: 40px;
    background-color: lightcoral;
}
/* ------------1600기준으로 만들기---------------- */
body{
    width: 100%;
    background-color: #ffffff;
    position: relative;
    overflow: auto;
    font-size: 16px;
}
#wrap{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    position: relative;
    z-index: 99;
}
header > div.logo-wrap{
    width: 20%;
    padding: 0 30px;
}
header > div#menu{
    width: 80%;
    float: right;
}
header > div#menu > nav{
    float: right;
    text-align: center;
    margin: 0 30px;
    position: relative;
}
header > div#menu > nav > ul#main-menu{
    display: flex;
    
}
header > div#menu > nav > ul#main-menu > li{
    width: 150px;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid black;
    background-color: aliceblue;
}
header > div#menu > nav > ul#main-menu > li:hover h3{
    text-shadow: 0 0 10px #333333;
    transition: .5s;
}

header > div#menu > nav > #sub-menu{
    width: 100%;
    position: absolute;
    background-color: blanchedalmond;
    transition: .5s;
    display: flex;
    opacity: 0;
    visibility: hidden;
}
header > div#menu > nav > #sub-menu > li{
    width: 100%;
    padding-bottom: 30px;
}
header > div#menu > nav > #sub-menu > li > ul > li{
    padding-top: 10px;
}
header > div#menu > nav > #sub-menu > li > ul > li:hover{
    text-shadow: 0 0 10px #333333;
    transition: .5s;
}


/* 메인 컨텐츠 */
main{
    height: 500px;
}
/* 슬라이드 */
main > div.slide{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
main > div.slide img{
    width: 100%;
    position: absolute;
    left: -100%;
    transition: 1s;
}




/* conts */
main> div.conts{
    width: 100%;
    height: 200px;
    display: flex;
}
main> div.conts > div{
    width: 33.333333%;
}
.conts > div#tab-menu{
    padding: 5px;
    position: relative;
}
div#tab-menu > #tab-title{
    display: flex;
    padding-left: 10px;
}
div#tab-menu > #tab-title > div{
    padding: 10px;
}
div#tab-menu > #tab-title > div#notice{
    background-color: beige;
}
div#tab-menu > #tab-title > div#gallery{
    background-color: #999999;
}

div#tab-menu > #tab-conts{
    position: absolute;
    width: calc(100% - 10px);
    padding: 20px;
    background-color: beige;
}
div#tab-menu > #tab-conts > #notice-conts{
    /* display: none; */
    padding-bottom: 12px;
}
div#tab-menu > #tab-conts > #notice-conts > p{
    overflow: hidden;
}

div#tab-menu > #tab-conts > #gallery-conts{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 110px;
    display: none;
}

div#tab-menu > #tab-conts > #gallery-conts > div{
    width: 33%;
    padding: 0 calc(1% / 3);
}
div#tab-menu > #tab-conts > #gallery-conts > div > img{
    width: 100%;
    height: 100%;
}

/* 배너 */
.conts > div#banner{}
.conts > div#banner > img{
    width: 100%;
    height: 100%;
}

/* gopage */
.conts > div#gopage{}
.conts > div#gopage > img{
    width: 100%;
    height: 100%;
}

/* footer */
footer{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
footer > .logo-wrap{
    width: 20%;
    padding: 0 30px;
}
footer > .logo-wrap > svg{
    width: 100%;
}

footer> #copyright{
    width: 60%;
    text-align: center;
}

footer > #sns{
    width: 20%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer > #sns > img{
    width: 20%;
}


/* 모달창 */
#popup{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
}
#popup #popup-cont{
    width: 500px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#popup #popup-cont h3{
    display: block;
    padding: 10px;
    border-bottom: 1px solid;
}
#popup #popup-cont h3 ~ div{
    width: 100%;
    padding: 25px;
    display: table;
    clear:both;
}
#popup #popup-cont h3 ~ div > div:nth-child(1){
    margin-bottom: 30px;
}
#popup #popup-cont h3 ~ div > div:nth-child(1) > p{}
#popup #popup-cont h3 ~ div > div:nth-child(2){
    float: right;
    padding: 10px 20px;
    border: 1px solid;
}
#popup-close:hover{
    cursor: pointer;
}